/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}





/*================
Header area CSS
==================*/

/*Header-Top Area*/

.header-top-area {
    background-color: #222;
    font-size: 15px;
    padding: 10px 0;
}
.header-top-area a, .header-top-area {
    color: #fff;
}

.header-top-area i.fa {color: #f7be49;}
.seprator {
    color: #949494;
    display: inline-block;
    padding: 0 10px;
}


/*=========
LOGO CSS*
==========*/
.mainmenu-area {
    background: #e0e0e0;
}

.logo {
    padding: 12px 0;
    text-transform:  uppercase;
}

.logo a {
    
    text-decoration:  none;
    color:  #494949;
}

.logo h1 {
    font-size:  16px;
    border: 3px solid #494949;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
}



/*===============
menu search bar
=================*/

.menu-search-bar{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
}

.menu-search-bar::after {
    font-family: fontawesome;
    content: "\f002";
    position: absolute;
    right: 15px;
    top: 13%;
}

.menu-search-bar input[type="search"] {
    border: none;
    cursor: pointer;
    text-indent: -999px;
    height: 40px;
    padding: 5px 15px;
    width: 40px;
    background: none;
    transition: all 0.2s;
}
.menu-search-bar form {
    position:  relative;
    z-index:  9;
}
.menu-search-bar input[type="search"]:focus {
    text-indent:  0;
    border: 1px solid #ddd;
    cursor:  text;
    background:  #fff;
    width: 200px;
}




/*==============
Main Menu CSS
===============*/


.mainmenu{
	padding-right: 40px;
}
.mainmenu ul {
    text-align:  right;
    margin:  0;
    padding:  0;
    text-align:  right;
}

.mainmenu li {
    display:  inline-block;
    position:  relative;

}

.mainmenu li a {
    padding: 37px 17px;
    display:  block;
    text-transform:  uppercase;
    color:  #222;
    font-weight:  700;
    font-size:  14px;
    transition: all .3s;
}

.mainmenu li:hover>a,
.current_page_item > a {
	background-color: #f4f4f4;
	text-decoration: none;
}


/*==============
Drop Down Menu
================*/

.mainmenu ul li ul {
    position:  absolute;
    top: 110px;
    left: 0;
    width: 200px;
    background:  #d2cfcb;
    text-align:  left;
    transition:  all 0.3s;
    opacity:  0;
}

.mainmenu ul li ul li {
    display:  block;
}

.mainmenu ul li ul li a {
	padding-bottom: 10px;
	padding-top: 10px;
	text-transform: none;
}


.mainmenu ul li:hover ul {
    opacity: 1;
    z-index: 9;
    top: 92px;
}

/*====================
Mobile menu-search-bar
=====================*/

.responsive-menu-wrap{
	display: none;
}
